.kanbanBoard {
    width: 100%;
    min-height: 80vh;
    overflow-x: auto;
}

.columnWrapper {
    display: flex;
    width: max-content;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;
    padding: 30px;
}

.singleColumn {
    min-height: 500px;
    width: 300px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
}

.singleColumnHeading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}

.singleContainerTasks {
    border: 1px solid lightgray;
    width: 95%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 15px;
    min-height: 100px;
    padding: 10px;
    cursor: all-scroll;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}


.singleContainerTasks .label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftLabel p {
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 10px;
}

.easyLabel {
    background-color: green;
    color: white;
}

.mediumLabel {
    background-color: yellow;
}

.hardLabel {
    background-color: red;
    color: white;
}

.rightLabel img {
    width: 20px;
}

.singleColumnHeading span {
    margin-left: 10px;
    cursor: pointer;
}

.dragging {
    background-color: rgb(249, 249, 249);
    opacity: 20%;
}

.taskDragging {
    background-color: lightgray;
    opacity: 20%;
}